body{
    background-color: rgb(97, 124, 223);
}

#dice {
	display: flex;
	justify-content: center;
	margin-top: 20%;
}

.hidden {
	display: none;
}
img {
	width: 150px;
	height: 150px;
	margin: 20px;
}

button {
	display: block;
	margin: 50px auto;
	padding: 10px 20px;
	font-size: 25px;
	border-radius: 10px;
	background-color: #534caf;
	color: white;
	border: 5px solid black;
	cursor: pointer;
}
