body{
    background-color: rgb(97, 124, 223);
}
h1{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 80px;
    font-weight: 400;

}
#dice {
	display: flex;
	justify-content: center;
	
}

.hidden {
	display: none;
}
img {
	width: 150px;
	height: 150px;
	margin: 20px;
}

button {
	display: block;
	margin: 50px auto;
	padding: 10px 20px;
	font-size: 25px;
	border-radius: 10px;
	background-color: #534caf;
	color: white;
	border: 5px solid black;
	cursor: pointer;
}
